.sampleOne {
  text-align: center;
  padding: 40px 0;
  .title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
  }
  .explain {
    font-size: 14px;
    margin-bottom: 32px;
    line-height: 20px;
  }
}
