@import "../variables.module.scss";

.colorPage {
  .grayA {
    color: $gray-a;
  }
  .grayB {
    color: $gray-b;
  }
  .greenA {
    color: $green-a;
  }
  .greenB {
    color: $green-b;
  }
  .greenC {
    color: $green-c;
  }
  .greenD {
    color: $green-d;
  }
  .blueA {
    color: $blue-a;
  }
  .blueB {
    color: $blue-b;
  }
  .blueC {
    color: $blue-c;
  }
  .blueD {
    color: $blue-d;
  }
  .blueE {
    color: $blue-e;
  }
}
