$gray-a: #b4b4b4;
$gray-b: #9c9c9c;
$green-a: #bbd6b8;
$green-b: #aec2b6;
$green-c: #94af9f;
$green-d: #dbe4c6;
$blue-a: #7286d3;
$blue-b: #8ea7e9;
$blue-c: #0081c9;
$blue-d: #5bc0f8;
$blue-e: #86e5ff;

$pink-gradient: linear-gradient(
  to right,
  rgb(242, 112, 156),
  rgb(255, 148, 114)
);
$pink-empty-gradient: linear-gradient(#fff, #fff) padding-box,
  linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
